  <h3><div class="fa fa-user-friends">
  </div> Friends of <strong> <%= @user.name %> </strong> </h3>
      <% @user.friends.each do |friend| %>
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <%= link_to friend.name, user_path(friend) %>
                  </div>
                  <div class="col">
                    <% if @user == current_user %>
                    <%= link_to 'Unfriend',
                    invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id)), class: "btn btn-danger shiny"  %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
