<div class="container">
  <%= render 'users/user', user: @user %>
  <p></p>
  <div class="card-group">
    <div class="card card-body">
    <%= render 'users/friends', user: @user %>
    </div>
  </div>
</div>
