Challenges:
<div class="card-columns">
  <% @projects.each do |project| %>
    <%= render 'projects/project', project: project %>
  <% end %>
</div>


<%= link_to 'New Challenge', new_project_path %>
