<%= render 'project', project: @project %>
  <div class="card-footer">
    <div class="btn-group" role="group" >
      <%= edit_project_button(@project) %>
      <%= delete_project_button(@project) %>
    </div>
  </div>
