<h1>Rate this Challenge</h1>

<%= render 'form', enrollment: @enrollment %>

<div class="btn-group" role="group">
  <%= button_to 'See Review', @enrollment, :class => "btn shiny btn-success" %>
  <%= button_to 'Back', enrollments_path, :class => "btn shiny btn-yellow" %>
</div>
