<div class="card">
  <div class="card-header">
    <h3>
      <div class="fa fa-graduation-cap"></div>
      <%= link_to @project.name, project_path(@project) %>
      <hr/>
      <div class="fa fa-lock-open"></div>
      Accept the Challenge
    </h3>
  </div>
  <div class="card-body">
    <%= form_tag project_enrollments_path(@project) do %>
      <%= submit_tag "Join", class: 'btn btn-lg btn-success' %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= button_to 'Back', project_path(@project),  :class => "btn shiny btn-yellow" %>
  </div>
</div>
