<%= render 'enrollments/enrollment', enrollment: @enrollment %>

<div class="btn-group" role="group">
  <%= button_to 'Edit', edit_enrollment_path(@enrollment), :class => "btn shiny btn-palegreen" %>
  <%= button_to 'Back' enrollments_path, , :class => "btn shiny btn-yellow" %>
</div>
