<h3 class="text-center">
  Tags
  <div class="badge badge-info">
    <%= @tags.count %>
  </div>
</h3>
<div class="card">
  <div class="card-body">
    <% @tags.each do |tag| %>
      <div class="row"></div>
      <%= tag.name %> used
      <%= tag.project_tags_count  %> times
      <br>
      <%= link_to 'Destory', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
