.fa-check-circle {
  color: blue;
}

.fa-tasks {
  color: magenta;
}

.fa-play-circle {
  color: magenta;
}

.fa-lock-open {
  color: magenta;
}

.fa-tags {
  color: magenta;
}

.fa-user-ninja {
  color: red;
}

.fa-lock {
  color: red;
}

.fa-user-shield {
  color: red;
}

.fa-dollar-sign {
  color: green;
}

.fa-users {
  color: green;
}

.fa-user {
  color: green;
}

.fa-globe-africa {
  color: green;
}

.fa-home {
  color: red;
}

.fa-comment {
  color: brown;
}

.fa-star {
  color: yellow;
}

.fa-star {
  color: yellow;
}

.fa-bell {
  color: yellow;
}

.fa-trophy {
  color: yellow !important;
}

.fa-infinity {
  color: blue;
}

.fa-bookmark {
  color: red;
}

.fa-bookmark {
  color: red;
}

.fa-clock {
  color: purple;
}

.fa-clock {
  color: purple;
}

.fa-chart-line {
  color: orange;
}

.fa-play-circle {
  color: orange;
}

.fa-eye {
  color: orange;
}

.fa-sign-out-alt {
  color: red;
}

.fa-fa-cog {
  color: grey;
}
