.fa-calendar-check {
  color: #659dbd;
}

.fa-clock {
  color: #659dbd;
}

.fa-at {
  color: #659dbd;
}

.fa-calendar {
  color: #659dbd;
}

.fa-check-circle {
  color: #659dbd;
}

.fa-heart {
  color: red;
}

.fa-tasks {
  color: #659dbd;
}

.fa-check  {
  color: #659dbd;
}

.fa-play-circle {
  color: #659dbd;
}

.fa-lock-open {
  color: #659dbd;
}

.fa-tags {
  color: #659dbd;
}

.fa-user-ninja {
  color: #659dbd;
}

.fa-lock {
  color: #659dbd;
}

.fa-user-shield {
  color: #659dbd;
}

.fa-dollar-sign {
  color: #659dbd;
}

.fa-users {
  color: #659dbd;
}

.fa-user {
  color: #659dbd;
}

.fa-globe-africa {
  color: #659dbd;
}

.fa-home {
  color: #659dbd;
}

.fa-comment {
  color: #659dbd;
}

.fa-star {
  color: #659dbd;
}

.fa-user-friends {
  color: #659dbd;
}

.fa-cog {
  color: #659dbd;
}

.fa-bell {
  color: #659dbd;
}

.fa-trophy {
  color: #659dbd;
}

.fa-infinity {
  color: #659dbd;
}

.fa-plus {
  color: #659dbd;
}

.fa-bookmark {
  color: #659dbd;
}

.fa-bookmark {
  color: #659dbd;
}

.fa-clock {
  color: #659dbd;
}

.fa-clock {
  color: #659dbd;
}

.fa-chart-line {
  color: #659dbd;
}

.fa-play-circle {
  color: #659dbd;
}

.fa-eye {
  color: #659dbd;
}

.fa-sign-out-alt {
  color: #659dbd;
}

.fa-fa-cog {
  color: #659dbd;
}
